services:
  minio:
    image: minio/minio
    container_name: minio
    restart: always
    ports:
      - "9000:9000"
    environment:
      MINIO_ROOT_USER: ROOTUSER
      MINIO_ROOT_PASSWORD: TpO8xuG48A
    volumes:
      - minio_data:/data
    
  minio-console:
    image: minio/mc
    container_name: minio-console
    restart: always
    ports:
      - "9090:9090"
    environment:
      MINIO_BROWSER: "off"
    command: server --address :9090

volumes:
  minio_data: